@charset "UTF-8";
h2 {
  font-family: Noto Serif TC;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  color: #EEEEF4;
}

header {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  background: transparent;
}

a {
  color: #C49236;
}

a:hover {
  color: #C49236;
  text-decoration: none;
}

.quote {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 98px;
  text-transform: capitalize;
  color: #C49236;
  margin-right: 32px;
}

@media (max-width: 576px) {
  .quote {
    margin-right: 8px;
  }
}

.section-first-block {
  background: linear-gradient(320.5deg, #182441 -23.61%, #0B121C 168.1%);
  margin-top: 0;
  padding: 100px 0 128px 0;
}

.section-first-block .annotation {
  margin-top: 32px;
  display: block;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #818796;
}

.section-first-block .line {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #EEEEF4;
}

.section-first-block .social {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #C49236;
  margin-right: 30px;
}

.section-first-block .phone-number {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
}

.section-first-block .email {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}

.section-first-block .breadcrumb {
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin-bottom: 64px;
  margin-top: 16px;
  font-size: 12px;
  line-height: 16px;
}

.section-first-block .breadcrumb > li + li::before {
  content: "→\00a0";
  color: #C49236;
}

.section-first-block .breadcrumb a {
  color: #C49236;
}

.section-first-block .breadcrumb a.active {
  color: #EEEEF4;
}

@media (max-width: 576px) {
  .section-first-block .breadcrumb {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 32px;
  }
}

.section-first-block .media-body p {
  margin-top: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #EEEEF4;
}

@media (max-width: 576px) {
  .section-first-block .media-body p {
    margin-top: 24px;
  }
}

@media (max-width: 576px) {
  .section-first-block {
    padding-bottom: 32px;
  }
}

.section-form {
  margin: 0;
  padding-bottom: 128px;
  background: url(../img/map.jpg) center no-repeat;
  background-size: cover;
}

.section-form .header {
  margin-bottom: 64px;
}

@media (max-width: 576px) {
  .section-form .header {
    margin-bottom: 32px;
  }
}

.section-form .btn-main {
  margin-top: 64px;
}

@media (max-width: 576px) {
  .section-form .btn-main {
    margin-right: -15px;
  }
}

.section-form .form {
  padding: 128px;
  padding-right: 150px;
  padding-bottom: 0;
  background: #ffffff;
}

@media (max-width: 576px) {
  .section-form .form {
    padding: 30px;
    padding-bottom: 0;
  }
}

.section-form .form .form-group label {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C49236;
}

.section-form .form .form-group .form-control {
  padding: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #818796;
  -webkit-transition: border-color .3s;
  transition: border-color .3s;
}

.section-form .form .form-group .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #C49236;
}

.section-form .form .form-group .form-control::-webkit-input-placeholder {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #818796;
}

.section-form .form .form-group .form-control:-ms-input-placeholder {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #818796;
}

.section-form .form .form-group .form-control::-ms-input-placeholder {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #818796;
}

.section-form .form .form-group .form-control::placeholder {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #818796;
}

.section-form .map-img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .section-form {
    background: transparent;
    padding-bottom: 0;
  }
}

.modal .close {
  position: absolute;
  top: 0;
  right: -8%;
}

.modal .modal-content {
  border-radius: 0;
  padding: 90px;
}

@media (max-width: 768px) {
  .modal .modal-content {
    padding: 30px;
  }
}

.modal .modal-header {
  border: 0;
  border-radius: 0;
}

.modal .header {
  margin-bottom: 32px;
}

@media (max-width: 576px) {
  .modal .header {
    margin-bottom: 32px;
  }
}

.modal .header-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  margin-bottom: 32px;
}

.modal .btn-main {
  margin-top: 64px;
}

.modal .form {
  background: #ffffff;
}

.modal .form .form-group label {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C49236;
}

.modal .form .form-group .form-control {
  padding: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #818796;
  -webkit-transition: border-color .3s;
  transition: border-color .3s;
}

.modal .form .form-group .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #C49236;
}

.modal .form .form-group .form-control::-webkit-input-placeholder {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #818796;
}

.modal .form .form-group .form-control:-ms-input-placeholder {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #818796;
}

.modal .form .form-group .form-control::-ms-input-placeholder {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #818796;
}

.modal .form .form-group .form-control::placeholder {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #818796;
}

footer {
  margin-top: 0;
}

@media screen and (max-width: 576px) {
  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
  }
  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
  }
}
/*# sourceMappingURL=main_page.css.css.map */