@media only screen and (max-width: 991px) {
    header {
        background: #fff;
    }

    .navbar {
        background: #fff;
        height: 55px;
        padding: 0;
        transition: all .35s;
        padding-top: 2px;
        padding-bottom: 12px;
    }

    .navbar-collapse {
        background-color: #fff;
        position: relative;
        top: 6px;
    }

    .navbar a {
        color: #C49236;
        font-size: 18px;
        font-weight: 500;
    }
    
    .number {
        font-size: 24px;
    }

    .navbar li.nav-item a {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .navbar li.nav-item.hover {
        height: 100%;
    }

    .get-consultation-block {
        height: 85px;
    }

    .get-button {
        margin-top: 20px;
        display: flex;
        width: 100%;
        height: 85px;
        background: #C49236;
        color: #fff;
        text-align: left;
        letter-spacing: 0.05em;
        font-weight: 600;
        font-size: 14px;
        font-style: normal;
        line-height: 18px;
        border: 0;
        padding: 34px 40px;
        justify-self: end;
        margin-left: auto;
    }

    .get-button::after {
        color: #fff;
        font-size: 20px;
        content: '→';
        display: block;
        margin-left: auto;
    }


}
