body,
html {
  background: #F0F0F5;
  font-family: IBM Plex Sans;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.sub-menu {
  width: 59%;
  margin-left: -9px;

  ul {
    margin-left: 27%;
  }
}

.bg-white {
  background: #ffffff !important;
}


.grad-bg {
  background: linear-gradient(320.5deg, #182441 -23.61%, #0B121C 168.1%);
}


h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  color: #182441;
}

img {
  width: 100%;
  height: auto;
}

section {
  margin-top: 128px;
}

header {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
}

.btn-main {
  height: 85px;
  background: #C49236;
  color: #EDEDEF;
  text-align: left;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  border: 0;
  padding: 34px 40px;

  &::after {
    font-size: 24px;
    content: '→';
    display: block;
    margin-left: auto;
  }
}

.section-first-block {
  background: linear-gradient(306.05deg, #182441 -23.61%, #0B121C 168.1%);
  margin-top: 0;
  padding: 200px 0 0 0;

  span {
    color: #EDEDEF;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  h1 {
    color: #EEEEF4;
    font-family: Noto Serif TC;
    font-style: normal;
    font-weight: 600;
    font-size: 88px;
    line-height: 103px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
  }

  .media {
    margin-left: 72px;

    .media-body {
      margin-top: 24px;
      margin-left: 32px;

      p {
        color: #EDEDEF;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 170%;
      }
    }

    .quote {
      font-family: Noto Serif;
      font-style: normal;
      font-weight: 900;
      font-size: 72px;
      line-height: 98px;
      text-transform: capitalize;
      color: #C49236;
    }
  }

  .bg-img {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding: 0;
    z-index: 10;

    img {
      height: 100%;
      object-fit: cover;
    }

    .btn-main {
      bottom: 0;
      left: 0;
    }
  }

  .social-row {
    margin-top: 200px;
    padding-bottom: 32px;

    a {
      display: flex;
      margin: 0 15px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      color: #C49236;
      text-decoration: none;
    }

    .tel {
      margin-right: 0;
      margin-left: auto;

      &::before {
        content: '';
        width: 38px;
        height: 2px;
        display: block;
        background: #C49236;
        margin: auto;
        margin-right: 10px;

        @media (max-width: 768px) {
          width: 10px;
        }
      }
    }

  }
}

.section-spec {
  margin-top: 0;

  .left {
    background: url(../img/spec.jpg) center no-repeat;
    background-size: cover;
    height: 660px;
    z-index: 4;
  }

  .row {
    height: 100%;
  }

  .container-fluid {
    height: 100%;
  }

  p {
    font-size: 16px;
    line-height: 170%;
    color: #434548;
  }

  .right {
    h3 {
      margin-top: 20%;
      margin-bottom: 10%;
    }

    .quotes {
      width: 38px;
      margin-left: 30px;
      margin-right: 30px;
    }
  }

  .bg-quote {
    width: 262px;
    height: 208px;
    position: absolute;
    left: 40%;
    top: 10%;
  }
}

.section-directions {
  .header {
    margin-bottom: 64px;
  }

  .right-bg {
    height: 110%;
    top: -1%;
  }

  .left-bg {
    height: 101%;
    bottom: -1%;
  }

  .bg-blue {
    background: #182441;
    z-index: 1;
  }

  .bg-white-block {
    background: #fff;
    background-clip: content-box;
    z-index: 1;
  }

  .first-row {
    z-index: 3;
    background: linear-gradient(293.07deg, #182441 14.26%, #0B121C 168.08%);

    .btn-main {
      margin-top: 64px;
    }

    .left-block {
      border-top: #C49236 3px solid;
      padding: 0;
      position: absolute;

      .arrow {

        position: relative;
        transform-origin: center;
        transform-box: fill-box;
        display: flex;
        justify-content: center;
        border-top: none;
        border: 1px #C49236 solid;
        background: #C49236;
        width: 83px;
        height: 83px;

        svg {
          position: absolute;
          top: 45%;
        }

        &:focus {
          outline: none;
        }
      }

      .num-cases {
        display: block;
        margin: auto;
        color: #EDEDEF;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
      }
    }

    .row-mob {
      justify-content: end;
      margin-top: 16px;

      .num-mob {
        color: #EDEDEF;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
      }

      .arrows-mob {
        .arrow {
          position: relative;
          transform-box: fill-box;
          display: flex;
          justify-content: center;
          border-top: none;
          border: 0;
          background: transparent;
          width: 83px;
          height: 83px;

          svg {
            position: absolute;
            top: 45%;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }

    .card1 {
      padding: 32px 60px 32px 30px;

      h5 {
        font-weight: bold;
        font-size: 24px;
        line-height: 150%;
        color: #EEEEF4;
        margin-bottom: 8px;
      }

      span {
        display: block;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        color: #EEEEF4;
        margin-bottom: 32px;
      }

      a {
        padding-right: 25px;
        display: block;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: #C49236;

        &::after {
          content: '→';
          margin-left: 3px;
        }
      }

      @media screen and (min-width: 992px) {
        &:hover {
          transition: background-color .2s;
          background: #C49236;

          a {
            transition: color .2s;
            color: #EEEEF4;
          }
        }
      }
    }
  }

  .second-row {
    .header {
      margin-top: 128px;
      margin-bottom: 32px;
    }

    .row {
      margin-bottom: 64px;
    }

    .col-3 {
      margin-right: 80px;
    }

    .big-num {
      font-family: Noto Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 96px;
      line-height: 130%;
      color: #C49236;
    }

    .word {
      font-family: Noto Serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 130%;
      color: #C49236;
    }

    p {
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 170%;
      color: #434548;
    }

    a {
      color: #C49236;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
    }
  }

  .third-row {
    z-index: 3;
    background: linear-gradient(293.07deg, #182441 14.26%, #0B121C 168.08%);
    padding-top: 128px;
    padding-left: 64px;

    .header {
      margin-bottom: 64px;
      font-weight: 500;
      font-size: 36px;
      line-height: 130%;
      color: #EEEEF4;
    }

    #review-carousel {
      .name {
        font-weight: bold;
        font-size: 24px;
        line-height: 150%;
        color: #EEEEF4;
        margin-bottom: 16px;
        display: block;
      }

      .media-body,
      .media {
        margin-left: 32px;
      }

      .quote {
        font-family: Noto Serif;
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 98px;

        color: #C49236;
      }

      .text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 170%;
        color: #EDEDEF;
      }

      a {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: #C49236;
        text-decoration: none;
      }

      .carousel-cell {
        padding-right: 200px;
      }


    }

    .num-div {
      margin-top: 64px;
      border-bottom: 3px solid #c49236;
    }

    .review-num {
      align-self: center;
      margin-left: 32px;
      margin-right: 32px;
      color: #EDEDEF;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
    }

    .arrows {
      margin-top: 64px;
      display: flex;
    }

    .arrow {
      position: relative;
      transform-origin: center;
      transform-box: fill-box;
      display: flex;
      justify-content: center;
      border-top: none;
      border: 1px #C49236 solid;
      background: #C49236;
      width: 83px;
      height: 83px;

      svg {
        position: absolute;
        top: 45%;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .fourth-row {
    .header {
      margin-top: 64px;
      margin-bottom: 64px;
    }

    #thank-carousel {
      .text {

        .header {
          margin-top: 128px;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 150%;
          color: #182441;
        }

        p {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 170%;
          color: #434548;
        }
      }
    }

    .num-div {
      margin-top: 64px;
      border-bottom: 3px solid #c49236;
    }

    .thank-num {
      align-self: center;
      margin-left: 32px;
      margin-right: 32px;
      color: #434548;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
    }

    .arrows {
      margin-top: 64px;
      display: flex;
    }

    .arrow {
      position: relative;
      transform-origin: center;
      transform-box: fill-box;
      display: flex;
      justify-content: center;
      border-top: none;
      border: 1px #C49236 solid;
      background: #C49236;
      width: 83px;
      height: 83px;

      svg {
        position: absolute;
        top: 45%;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.section-posts {
  .header {
    margin-bottom: 64px;
  }

  .card2 {

    &:hover {
      .text-block {
        background: #C49236;

        .date {
          color: #EEEEF4;
        }

        p {
          color: #EEEEF4;
        }

        a {
          color: #EEEEF4;
        }
      }
    }
  }

  .img {
    position: relative;

    .text-box {
      background: linear-gradient(325.58deg, #182441 -23.61%, #0B121C 168.1%);
      position: absolute;
      bottom: 0;
      right: 0;
      width: 165px;
      height: 40px;
      display: flex;
      text-transform: uppercase;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 160%;
      justify-content: center;
      align-items: center;
      letter-spacing: 0.1em;
      color: #EEEEF4;
    }
  }

  .text-block {
    transition: all .3s;
    padding: 32px;
    background: #ffffff;

    .date {
      display: block;
      margin-bottom: 8px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      color: #434548;
    }

    p {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #182441;
      margin-bottom: 32px;
    }

    a {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #C49236;
      text-decoration: none;
    }
  }

  .button-row {
    margin-top: 64px;
  }
}

@media screen and (max-width: 768px) {
  .section-spec {
    .left {
      max-height: 70vh
    }

    .right {
      h3 {
        margin-top: 50px;
        text-align: center;
      }
    }
  }

  .section-directions {
    .fourth-row {

      #thank-carousel {
        .carousel-cell {
          .text {
            .header {
              margin-top: 32px;
              margin-bottom: 32px;
            }
          }

          .row {
            justify-content: center;
          }
        }

      }
    }
  }

}

@media screen and (max-width: 576px) {
  h3 {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
  }

  p {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
  }

  .carousel-row {
    justify-content: center;
  }

  .section-directions {
    .third-row {
      padding: 0 20px;
      padding-top: 64px;

      #review-carousel {
        .carousel-cell {

          padding: 15px;

          .media-body,
          .media {
            margin-left: 0;
          }

          .quote {
            display: none;
          }
        }
      }

      .arrows-row {
        margin-right: -20px;
      }
    }

  }

  .section-first-block {
    padding-top: 0;
    padding-bottom: 100px;

    h1 {
      font-size: 48px;
      line-height: 105.9%;
    }

    .car-container {
      padding-top: 32px;
    }

    .media {
      margin-left: 0;

      .media-body {
        margin-top: 16px;
        margin-left: 8px;
      }
    }

    .bg-img {
      position: static;
    }

    .btn-main {
      right: 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .section-directions {
    margin-top: 0;

    .first-row {
      .header-mob {
        padding-top: 64px;

        h3 {
          font-weight: 500;
          font-size: 24px;
          line-height: 130%;
          color: #EEEEF4;
          margin-bottom: 32px;
        }

      }

      .left-block {
        position: static;
      }

      .car-container {
        .row {
          justify-content: center;
        }
      }

      .carousel-cell {
        transition: background-color .2s;
        height: 250px;

        &.is-selected {
          background: #C49236;

          a {
            transition: color .2s;
            color: #EEEEF4;

          }
        }
      }
    }

    .all-dirs {
      margin-top: 16px;
    }

    .second-row {
      .header {
        margin: auto;
        margin-top: 64px;
      }

      .row {
        text-align: center;
        justify-content: center;
      }
    }
  }

  .section-posts {
    .card-row {
      justify-content: center;
    }

    .card2.is-selected {

      .text-block {
        background: #C49236;

        .date {
          color: #EEEEF4;
        }

        p {
          color: #EEEEF4;
        }

        a {
          color: #EEEEF4;
        }
      }
    }
  }


}