@charset "UTF-8";
body,
html {
  background: #F0F0F5;
  font-family: IBM Plex Sans;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  color: #182441;
}

img {
  width: 100%;
  height: auto;
}

section {
  margin-top: 128px;
}

.btn-main {
  height: 85px;
  background: #C49236;
  color: #EDEDEF;
  text-align: left;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  border: 0;
  padding: 34px 40px;
}

.btn-main::after {
  font-size: 24px;
  content: '→';
  display: block;
  margin-left: auto;
}

.section-spec {
  margin-top: 0;
}

.section-spec .left {
  background: url(../img/spec.jpg) center no-repeat;
  background-size: cover;
  height: 660px;
  z-index: 4;
}

.section-spec .row {
  height: 100%;
}

.section-spec .container-fluid {
  height: 100%;
}

.section-spec p {
  font-size: 16px;
  line-height: 170%;
  color: #434548;
}

.section-spec .right h3 {
  margin-top: 20%;
  margin-bottom: 10%;
}

.section-spec .right .quotes {
  width: 38px;
  margin-left: 30px;
  margin-right: 30px;
}

.section-spec .bg-quote {
  width: 262px;
  height: 208px;
  position: absolute;
  left: 40%;
  top: 10%;
}

.section-directions .header {
  margin-bottom: 64px;
}

.section-directions .right-bg {
  height: 110%;
  top: -1%;
}

.section-directions .bg-blue {
  background: #182441;
  z-index: 1;
}

.section-directions .bg-white {
  background: #fff;
  background-clip: content-box;
  z-index: 1;
}

.section-directions .first-row {
  z-index: 3;
  background: linear-gradient(293.07deg, #182441 14.26%, #0B121C 168.08%);
}

.section-directions .first-row .btn-main {
  margin-top: 64px;
}

.section-directions .first-row .left-block {
  border-top: #C49236 3px solid;
  padding: 0;
  position: absolute;
}

.section-directions .first-row .left-block .arrow {
  position: relative;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: none;
  border: 1px #C49236 solid;
  background: #C49236;
  width: 83px;
  height: 83px;
}

.section-directions .first-row .left-block .arrow svg {
  position: absolute;
  top: 45%;
}

.section-directions .first-row .left-block .arrow:focus {
  outline: none;
}

.section-directions .first-row .left-block .num-cases {
  display: block;
  margin: auto;
  color: #EDEDEF;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.section-directions .first-row .row-mob {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 16px;
}

.section-directions .first-row .row-mob .num-mob {
  color: #EDEDEF;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.section-directions .first-row .row-mob .arrows-mob .arrow {
  position: relative;
  transform-box: fill-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: none;
  border: 0;
  background: transparent;
  width: 83px;
  height: 83px;
}

.section-directions .first-row .row-mob .arrows-mob .arrow svg {
  position: absolute;
  top: 45%;
}

.section-directions .first-row .row-mob .arrows-mob .arrow:focus {
  outline: none;
}

.section-directions .first-row .card1 {
  padding: 32px 60px 32px 30px;
}

.section-directions .first-row .card1 h5 {
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #EEEEF4;
  margin-bottom: 8px;
}

.section-directions .first-row .card1 span {
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #EEEEF4;
  margin-bottom: 32px;
}

.section-directions .first-row .card1 a {
  padding-right: 25px;
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #C49236;
}

.section-directions .first-row .card1 a::after {
  content: '→';
  margin-left: 3px;
}

@media screen and (min-width: 992px) {
  .section-directions .first-row .card1:hover {
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    background: #C49236;
  }
  .section-directions .first-row .card1:hover a {
    -webkit-transition: color .2s;
    transition: color .2s;
    color: #EEEEF4;
  }
}

.section-directions .second-row .header {
  margin-top: 128px;
  margin-bottom: 32px;
}

.section-directions .second-row .row {
  margin-bottom: 64px;
}

.section-directions .second-row .col-3 {
  margin-right: 80px;
}

.section-directions .second-row .big-num {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 130%;
  color: #C49236;
}

.section-directions .second-row .word {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #C49236;
}

.section-directions .second-row p {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #434548;
}

.section-directions .second-row a {
  color: #C49236;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.section-directions .third-row {
  z-index: 3;
  background: linear-gradient(293.07deg, #182441 14.26%, #0B121C 168.08%);
  padding-top: 128px;
  padding-left: 64px;
}

.section-directions .third-row .header {
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  color: #EEEEF4;
}

.section-directions .third-row #review-carousel .name {
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #EEEEF4;
  margin-bottom: 16px;
  display: block;
}

.section-directions .third-row #review-carousel .media-body,
.section-directions .third-row #review-carousel .media {
  margin-left: 32px;
}

.section-directions .third-row #review-carousel .quote {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 98px;
  color: #C49236;
}

.section-directions .third-row #review-carousel .text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #EDEDEF;
}

.section-directions .third-row #review-carousel a {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #C49236;
  text-decoration: none;
}

.section-directions .third-row #review-carousel .carousel-cell {
  padding-right: 200px;
}

.section-directions .third-row .num-div {
  margin-top: 64px;
  border-bottom: 3px solid #c49236;
}

.section-directions .third-row .review-num {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 32px;
  margin-right: 32px;
  color: #EDEDEF;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.section-directions .third-row .arrows {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-directions .third-row .arrow {
  position: relative;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: none;
  border: 1px #C49236 solid;
  background: #C49236;
  width: 83px;
  height: 83px;
}

.section-directions .third-row .arrow svg {
  position: absolute;
  top: 45%;
}

.section-directions .third-row .arrow:focus {
  outline: none;
}

.section-directions .fourth-row .header {
  margin-top: 64px;
  margin-bottom: 64px;
}

.section-directions .fourth-row #thank-carousel .text .header {
  margin-top: 128px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #182441;
}

.section-directions .fourth-row #thank-carousel .text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #434548;
}

.section-directions .fourth-row .num-div {
  margin-top: 64px;
  border-bottom: 3px solid #c49236;
}

.section-directions .fourth-row .thank-num {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 32px;
  margin-right: 32px;
  color: #434548;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.section-directions .fourth-row .arrows {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-directions .fourth-row .arrow {
  position: relative;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: none;
  border: 1px #C49236 solid;
  background: #C49236;
  width: 83px;
  height: 83px;
}

.section-directions .fourth-row .arrow svg {
  position: absolute;
  top: 45%;
}

.section-directions .fourth-row .arrow:focus {
  outline: none;
}

.section-posts .header {
  margin-bottom: 64px;
}

.section-posts .card2:hover .text-block {
  background: #C49236;
}

.section-posts .card2:hover .text-block .date {
  color: #EEEEF4;
}

.section-posts .card2:hover .text-block p {
  color: #EEEEF4;
}

.section-posts .card2:hover .text-block a {
  color: #EEEEF4;
}

.section-posts .img {
  position: relative;
}

.section-posts .img .text-box {
  background: linear-gradient(325.58deg, #182441 -23.61%, #0B121C 168.1%);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 165px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 160%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  color: #EEEEF4;
}

.section-posts .text-block {
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 32px;
  background: #ffffff;
}

.section-posts .text-block .date {
  display: block;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #434548;
}

.section-posts .text-block p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #182441;
  margin-bottom: 32px;
}

.section-posts .text-block a {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #C49236;
  text-decoration: none;
}

.section-posts .button-row {
  margin-top: 64px;
}

@media screen and (max-width: 768px) {
  .section-spec .left {
    max-height: 70vh;
  }
  .section-spec .right h3 {
    margin-top: 50px;
    text-align: center;
  }
  .section-directions .fourth-row #thank-carousel .carousel-cell .text .header {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .section-directions .fourth-row #thank-carousel .carousel-cell .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  h3 {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
  }
  p {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
  }
  .carousel-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-directions .third-row {
    padding: 0 20px;
    padding-top: 64px;
  }
  .section-directions .third-row #review-carousel .carousel-cell {
    padding: 15px;
  }
  .section-directions .third-row #review-carousel .carousel-cell .media-body,
  .section-directions .third-row #review-carousel .carousel-cell .media {
    margin-left: 0;
  }
  .section-directions .third-row #review-carousel .carousel-cell .quote {
    display: none;
  }
  .section-directions .third-row .arrows-row {
    margin-right: -20px;
  }
}

@media screen and (max-width: 992px) {
  .section-directions {
    margin-top: 0;
  }
  .section-directions .first-row .header-mob {
    padding-top: 64px;
  }
  .section-directions .first-row .header-mob h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #EEEEF4;
    margin-bottom: 32px;
  }
  .section-directions .first-row .left-block {
    position: static;
  }
  .section-directions .first-row .car-container .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-directions .first-row .carousel-cell {
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    height: 250px;
  }
  .section-directions .first-row .carousel-cell.is-selected {
    background: #C49236;
  }
  .section-directions .first-row .carousel-cell.is-selected a {
    -webkit-transition: color .2s;
    transition: color .2s;
    color: #EEEEF4;
  }
  .section-directions .all-dirs {
    margin-top: 16px;
  }
  .section-directions .second-row .header {
    margin: auto;
    margin-top: 64px;
  }
  .section-directions .second-row .row {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-posts .card-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-posts .card2.is-selected .text-block {
    background: #C49236;
  }
  .section-posts .card2.is-selected .text-block .date {
    color: #EEEEF4;
  }
  .section-posts .card2.is-selected .text-block p {
    color: #EEEEF4;
  }
  .section-posts .card2.is-selected .text-block a {
    color: #EEEEF4;
  }
}
/*# sourceMappingURL=style.css.map */