header {
    /*    background: linear-gradient(314.39deg, #182441 -23.61%, #0B121C 168.1%);*/
    background: transparent;
}

.navbar {
    /*    background: linear-gradient(314.39deg, #182441 -23.61%, #0B121C 168.1%);*/
    border: 0;
    height: 100px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    transition: color .35s;
}

.navbar li.nav-item a {
    padding-top: 30px;
}

.navbar li.nav-item.hover {
    height: 30px;
}

.navbar-toggler:focus {
    outline: 0;
}

.gold-color {
    color: #C49236;
}

.number {
    font-size: 16px;
    font-weight: 600;
}

.get-consultation-block {
    height: 100px;
}

.get-button {
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    height: 100%;
    width: 262px;
    background-color: #C49236;
    text-align: center;
    line-height: 100px;
    transition: background-color .35s;
}

.get-button span {
    color: #fff;
    font-weight: 600;
}

.get-button:hover {
    background-color: #dea53b;
    cursor: pointer;
}

.sub-menu * {
    margin: 0;
    padding: 0;
}

.sub-menu {
    background-color: #fff;
    width: 55%;
    position: fixed;
    top: 99px;
    left: 0;
}

.sub-menu ul {
    list-style: none;
    margin-left: 30%;
    padding-bottom: 30px;
    opacity: 0;
    transition: all .3s;
    transition-delay: .4s;
}

.sub-menu a {
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #C49236;
}

.sub-menu li {
    padding-top: 30px;
    width: 250px;
}

li.nav-item::after {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.expand {
    height: 0px;
    display: none;
    background-color: #fff;
    transition: all .3s;
    transition-delay: .35s;
}

.grad-bg {
    background: linear-gradient(320.5deg, #182441 -23.61%, #0B121C 168.1%);
}


header {
    transition: all .35s;
}

.hidden {
    transform: translateY(-100%) scaleY(0);
}
