$gold: #c49236;
$white: #eeeef4;

h2 {
  font-family: Noto Serif TC;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 130%;
  color: #eeeef4;
}

.section-first-block {
  .breadcrumb {
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0;
    margin-bottom: 64px;
    margin-top: 16px;
    font-size: 12px;
    line-height: 16px;

    >li+li::before {
      content: "→\00a0";
      color: $gold;
    }

    a {
      color: $gold;

      &.active {
        color: $white;
      }
    }

    @media (max-width: 576px) {
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 32px;
    }
  }

  color: $white;
  background: linear-gradient(320.5deg, #182441 -23.61%, #0b121c 168.1%);
  margin-top: 0;
  padding-top: 100px;
  padding-bottom: 128px;

  .up-line {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #818796;
  }

  .down-line {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: #eeeef4;
  }

  .annotation {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #eeeef4;
  }

  .number {
    display: flex;
    margin-top: 32px;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 130%;
    color: #c49236;

    .big-number {
      font-weight: normal;
      font-size: 96px;
      margin-right: 8px;
    }

    .number-text {
      display: inline-flex;
      max-width: 196px;
    }
  }
}

.section-case {
  position: relative;
  margin-top: 0;
  padding-top: 128px;
  padding-bottom: 0;

  .row {
    margin-bottom: 64px;
  }

  .white-bg {
    position: absolute;
    background: #ffffff;
    width: 60%;
    height: 100%;
    right: 0;
    top: 0;
  }

  .case-header {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #182441;
  }

  .case-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: #434548;

    .link {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #c49236;
      padding-left: 15px;
      margin-top: 32px;
      display: block;
      text-decoration: none;
    }
  }
}

.section-other {

  .first-row {
    margin-bottom: 64px;
  }

  .arrows {
    margin-right: 15px;
    display: flex;

    .arrow {

      position: relative;
      transform-origin: center;
      transform-box: fill-box;
      display: flex;
      justify-content: center;
      border-top: none;
      border: 1px #FFFFFF solid;
      background: #FFFFFF;
      width: 83px;
      height: 83px;

      svg {
        color: #C49236;
        position: absolute;
        top: 45%;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .card-inner {
    background-color: #182441;
    padding: 32px;
    padding-right: 40px;

    span {
      display: flex;
    }

    .upper-block {
      min-height: 120px;
    }

    .first-line {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 150%;
      color: #EEEEF4;
      margin-bottom: 16px;
    }

    .second-line {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      color: #EEEEF4;
    }

    .card-link {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #C49236;
      text-decoration: none;
    }

  }

  .btn-main {
    margin-top: 64px;
  }

  .num-div {
    margin-top: 32px;
    border-bottom: 3px #C49236 solid;
  }

  .other-num {
    align-self: center;
    margin-left: 32px;
    margin-right: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }
}

@media screen and (max-width: 768px) {
  .left-block {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 576px) {

  .btn-main {
    margin-right: -15px;
  }

  h2 {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
  }

  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
  }

  footer {
    margin-top: 64px;
  }

  .section-first-block {
    .up-line {
      font-style: normal;
      font-weight: bold;
      font-size: 10px;
      line-height: 160%;
    }

    .down-line {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
    }
  }

  .section-case {
    background: #ffffff;
    padding-top: 64px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;

    .row {
      margin-bottom: 32px;
    }

    .docs {
      justify-content: center;
    }

    .case-header {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  .section-other {
    .first-row {
      justify-content: center;
    }

    .arrows.mobile {
      margin-top: 32px;

      .arrow {
        background: #C49236;
        border-color: #C49236;
      }
    }
  }
}