@media only screen and (max-width: 991px) {
    .first-section {
        padding-top: 55px;
        padding-bottom: 64px;
    }

    .error-404 {
        font-size: 96px;
        line-height: 138px;
        margin-top: 32px;
    }

    .error {
        margin-top: 32px;
    }

    .error-annotation {
        font-size: 10px;
    }
}
